#htmltoimage {
  width: 100%;
  margin: auto;
}

svg {
  left: 113px;
  width: 138px;
}

@font-face {
  font-family: mamertoFont;
  font-size: 120;
  src: url(font.otf);
}

h2 {
  font-family: mamertoFont;
  height: 200px;
  font-size: 90px;
  /* letter-spacing: -15px; */
}

div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  height: 15px;
}

button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #9900CC;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.input_name {
  filter:alpha(opacity=5000); 
  opacity:0.001;
}



@media (min-width:801px) {
 body {
   width: 60%;
 }
 #htmltoimage {
   text-align: center;
 }
}